
body{
    background-color: #fafafa;
}

.footer{
    align-self: flex-end;
}



#cliente{
    padding: 4px;
    margin: 4px;
}
#duenoLocal{
    padding: 4px;
    margin: 8px;
}

.carrusel{
    max-height: 70vh;
}

.login-button{
    background-color: hsl(242, 68%, 50%);
    color: aliceblue;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 32px; /* radio del borde */
    transition: 0.3s background-color; /*  duración del efecto de transición y atributo afectado*/
    text-decoration: none; /* le saca el subrayado al link */

}
.login-button:hover{
    background-color: hsl(242, 68%, 60%);
    

}
.navbar-toggler{
    border: none;
    font-size: 1.25rem; 
    border-radius: 8px;
}
.navbar-toggler:focus{
    box-shadow: none; /* le saca la sombra fea cuando lo apretas */
    outline: none; /* le saca el borde feo cuando lo apretas  */
}
.nav-item{
    font-weight: 500;
    margin: 8px 15px;
}
.user-info{
    background-color: hsl(242, 68%, 50%);
    color: aliceblue;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 32px; /* radio del borde */
    text-decoration: none; /* le saca el subrayado al link */

}

.btn-primary.filtros-desplegados{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgb(235, 103, 235);
    border-color: rgb(235, 103, 235);
        
}
.btn-primary{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    color:  rgb(235, 103, 235);
    border-color: rgb(235, 103, 235);
    font-weight: 600;
    transition: all 0.5s;
    
}
.btn-primary:hover{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgb(235, 103, 235);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    
}
.btn-admin{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgb(255, 255, 255);
    color:  hsl(242, 68%, 60%);
    border-color: hsl(242, 68%, 60%);
    font-weight: 600;}
.btn-admin:hover{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: hsl(242, 68%, 60%);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);}

.btn-primary:active{
    background-color: rgb(235, 103, 235);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}



.btn-inicio{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgb(235, 103, 235);
    border-width: 2px;
    color:  rgb(255, 255, 255);
    border-color: rgb(235, 103, 235);
    font-weight: 600;
    transition: all 0.5s;
    
}

.btn-inicio:hover{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgb(255, 255, 255);
    color:  rgb(235, 103, 235);
    border-color:  rgb(235, 103, 235);
    
}

.btn-danger{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgb(255, 255, 255);
    color:  rgba(199, 1, 1, 0.842);
    border-color: rgba(199, 1, 1, 0.842);
    border-width: 2px;
    
}
.btn-danger:hover{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgba(199, 1, 1, 0.842);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    
}
.btn-warning{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgb(255, 255, 255);
    color:  hsl(242, 68%, 60%);
    border-color: hsl(242, 68%, 60%);
    border-width: 2px;
    
}
.btn-warning:hover{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color:hsl(242, 68%, 60%);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    
}   
.a{
    border-color:violet;
}
.rosa{
    background-color: rgb(164, 88, 236);
}
.filtros{
    margin-left: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 16px;;
    text-decoration: none;
    padding-bottom: 15px;
    background-color: rgb(224, 198, 224);

}
.bot-crear {
    margin-left: 20px;
    padding-left: 20px; 
    text-decoration: none; 
    margin-bottom: 10px; 
}
.listado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
    
}

.modal-footer{
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

.alert{
    width: fit-content; 
}

.bot-filtros{
    z-index: 1050; /* Orden de objetos */
    width: 100px; /* Ancho fijo */
    opacity: 0.5;

}
.menuPrincipal{
    font-weight: bold;
    color: hsl(242, 68%, 40%);
    background-color: hsl(242, 68%, 90%);
    padding: 10px;
    border-radius: 8px;
}
.menuPrincipal:hover{
    background-color: hsl(242, 77%, 76%);

}
.titulo{
    font-weight: bold;
    color: hsl(242, 68%, 40%);
    padding: 10px;
    text-decoration: underline;
}

.creacion{
    border: 1px solid rgb(238, 96, 219);
    border-radius: 16px;
    background-color: rgb(250, 223, 250);
}

.page-link{
    background-color: hsl(240, 2%, 84%);
    border: 1px solid hsl(242, 68%, 40%);
    color: hsl(242, 68%, 40%);
    border-radius: 8px;
    margin: 4px;
}
.page-link:hover{
    background-color: hsl(242, 68%, 40%);
    border:1px solid hsl(242, 68%, 90%);
    color: hsl(242, 68%, 90%);
    
}
.page-link:active{
    background-color: hsl(242, 68%, 40%);
    color: hsl(242, 68%, 90%);
}

li a.migasDePan{
    color:hsl(242, 68%, 40%);
    text-decoration: none;
}
li a.migasDePan:hover{
    color:rgb(244, 69, 221);
}
li.active a.migasDePan{
    text-decoration: underline;
}
.carousel{
    width: 90%;
    max-width: 1200px;
    background-color: rgb(224, 201, 246);
    
}

.bienvenida{
    font-family: 'Helvetica Neue', 'sans-serif';
    font-size: 2.5rem; /* Tamaño de la fuente */
    font-weight: bold;
    color: hsl(242, 68%, 40%);

    padding-bottom: 5px;
    margin-bottom: 20px;
    text-shadow: 2px 2px hsl(242, 68%, 90%);
}
.card-title{
    font-weight: bold;
    font-family: 'Helvetica Neue', 'sans-serif';
    color: hsl(242, 68%, 40%);
    text-shadow: 2px 2px hsl(242, 68%, 90%);
}
.card-subtitle{
    margin-bottom: 30px;
}

.tituloCard{
    font-weight: bold;
    font-family: 'Helvetica Neue', 'sans-serif';
    color: hsl(242, 68%, 40%);
    text-shadow: 2px 2px hsl(242, 68%, 90%);
}