
.footer{
    align-self:bottom;
}
#cliente{
    padding: 4px;
    margin: 4px;
}
#duenoLocal{
    padding: 4px;
    margin: 8px;
}

.login-button{
    background-color: hsl(242, 68%, 50%);
    color: aliceblue;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 32px; /* radio del borde */
    transition: 0.3s background-color; /*  duración del efecto de transición y atributo afectado*/
    text-decoration: none; /* le saca el subrayado al link */

}
.login-button:hover{
    background-color: hsl(242, 68%, 60%);
    

}
.navbar-toggler{
    border: none;
    font-size: 1.25rem; 
    border-radius: 8px;
}
.navbar-toggler:focus{
    box-shadow: none; /* le saca la sombra fea cuando lo apretas */
    outline: none; /* le saca el borde feo cuando lo apretas  */
}
.nav-item{
    font-weight: 500;
    margin: 8px 15px;
}
.user-info{
    background-color: hsl(242, 68%, 50%);
    color: aliceblue;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 32px; /* radio del borde */
    text-decoration: none; /* le saca el subrayado al link */

}
.btn-primary.filtros-desplegados{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: violet;
    border-color: violet;
        
}
.btn-primary{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: whitesmoke;
    color:  rgb(190, 26, 177);
    border-color: rgb(190, 26, 177);
    
}
.btn-primary:hover{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgb(190, 26, 177);
    color: whitesmoke;
    border-color: whitesmoke;
    
}
.btn-danger{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: whitesmoke;
    color:  rgb(206, 74, 74);
    border-color: rgb(207, 34, 34);
    
}
.btn-dange:hover{ /*fijarse si anda esto de cambiar de color los botones*/
    background-color: rgb(207, 34, 34);
    color: whitesmoke;
    border-color: whitesmoke;
    
}

.a{
    border-color:#26014be1
}
.rosa{
    background-color: rgb(164, 88, 236);
}
.filtros{
    margin-left: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 16px;;
    text-decoration: none;
    padding-bottom: 15px;
    background-color: rgb(224, 198, 224);

    

}
.listado{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: fit-content;
    
}

.modal-footer{
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

.alert{
    width: fit-content; 
}
.bot-filtros{
    z-index: 1050; /* Orden de objetos */
    width: 100px; /* Ancho fijo */
    opacity: 0,5;
}

#menuPrincipal{
    font-weight: bold;
    color: hsl(242, 68%, 40%);
    background-color: hsl(242, 68%, 90%);
    padding: 10px;
    border-radius: 8px;
}
#menuPrincipal:hover{
    background-color: hsl(242, 77%, 76%);

}
.titulo{
    font-weight: bold;
    color: hsl(242, 68%, 40%);
    padding: 10px;
    text-decoration: underline;
}